load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive")
load("@bazel_tools//tools/build_defs/repo:utils.bzl", "maybe")
load("@bazelrio//:deps_utils.bzl", "cc_library_headers", "cc_library_shared", "cc_library_static")

def setup_{{maven_dependency.name}}_{{maven_dependency.underscore_version}}_dependencies():
    {%- for cpp_dep in maven_dependency._cpp_deps %}
    {%- for resource in cpp_dep.resources %}
    maybe(
        http_archive,
        "{{cpp_dep.get_archive_name(resource)}}",
        url = "{{cpp_dep.get_url(resource)}}",
        sha256 = "{{cpp_dep.get_sha256(resource)}}",
        build_file_content = {{cpp_dep.get_build_file_content(resource)}},
    )
    {%- endfor %}
    {%- endfor %}

