{%- for maven_dependency in maven_dependencies %}
load("//dependencies/{{maven_dependencies[0].name}}/{{maven_dependency.underscore_version}}:deps.bzl", "setup_{{maven_dependencies[0].name}}_{{maven_dependencies[0].underscore_version}}_dependencies")
{%- endfor %}

def setup_{{maven_dependencies[0].name}}_dependencies(version):
    if version == None:
        print("Not setting up dependencies for {{maven_dependencies[0].name}}")
    {%- for maven_dependency in maven_dependencies %}
    elif version == "{{maven_dependency.version}}":
        setup_{{maven_dependencies[0].name}}_{{maven_dependency.underscore_version}}_dependencies()
    {%- endfor %}
    else:
        fail("Unsupported version '{}'".format(version))

