name: Build example project
on: [pull_request, push]
jobs:
    build-macos:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v2
            - run: brew install osxfuse
            - run: curl -sSL https://github.com/bazelbuild/sandboxfs/releases/download/sandboxfs-0.2.0/sandboxfs-0.2.0-20200420-macos.pkg -o sandboxfs.pkg && sudo installer -pkg sandboxfs.pkg -target /
            - name: Build Roborio (cpp)
              run: bazel build //...:* --config=for-roborio --experimental_use_sandboxfs
              working-directory: examples/cpp_example
            - name: Build Native (cpp)
              run: bazel build //...:* --experimental_use_sandboxfs
              working-directory: examples/cpp_example
            - name: Build Roborio (java))
              run: bazel build //...:* --config=for-roborio --experimental_use_sandboxfs
              working-directory: examples/java_example
            - name: Build Native (java)
              run: bazel build //...:* --experimental_use_sandboxfs
              working-directory: examples/java_example
            - name: Build tools
              run: bazel build @bazelrio//libraries/tools/...
              working-directory: examples/java_example
    build-linux:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - run: sudo apt-get install libfuse-dev
            - run: curl -sSL https://github.com/bazelbuild/sandboxfs/releases/download/sandboxfs-0.2.0/sandboxfs-0.2.0-20200420-linux-x86_64.tgz | sudo tar zxv -C /usr/local -f -
            - name: Build Roborio (cpp)
              run: bazel build //...:* --config=for-roborio --experimental_use_sandboxfs
              working-directory: examples/cpp_example
            - name: Build Native (cpp)
              run: bazel build //...:* --experimental_use_sandboxfs
              working-directory: examples/cpp_example
            - name: Build Roborio (java)
              run: bazel build //...:* --config=for-roborio --experimental_use_sandboxfs
              working-directory: examples/java_example
            - name: Build Native (java)
              run: bazel build //...:* --experimental_use_sandboxfs
              working-directory: examples/java_example
            - name: Build tools
              run: bazel build @bazelrio//libraries/tools/...
              working-directory: examples/java_example
    build-windows:
        runs-on: windows-latest
        steps:
            - uses: actions/checkout@v2
            - name: Build Roborio (cpp)
              run: bazel --output_user_root=C:\bazelroot build //...:* --config=for-roborio
              working-directory: examples/cpp_example
            - name: Build Native (cpp)
              run: bazel --output_user_root=C:\bazelroot build //...:* --config=for-windows
              working-directory: examples/cpp_example
            - name: Build Roborio (java)
              run: bazel --output_user_root=C:\bazelroot build //...:* --config=for-roborio
              working-directory: examples/java_example
            - name: Build Native (java)
              run: bazel --output_user_root=C:\bazelroot build //...:* --config=for-windows
              working-directory: examples/java_example
            - name: Build tools
              run: bazel build @bazelrio//libraries/tools/...
              working-directory: examples/java_example
